<div id="asideBar" class="d-flex flex-column bg-white col-1 p-0 top-0 left-0">
    <ul class="nav flex-column text-center pb-5 ">
        <li class="nav-item mx-3 mb-5 mt-2">
            <a class="" href="/">
                <img src="/public/css/imagem/cipt.png" class="img-fluid" alt="Logo"></img>
            </a>
        </li>
        <li class="nav-item mb-1">
            <a class="nav-link" href="/public/views/afterLogin/home.html">
                <i class="bi bi-house-door"></i>
                <dt style="font-size: .8rem;">Início</dt>
            </a>
        </li>
        <li class="nav-item mb-1">
            <a class="nav-link" href="/public/views/afterLogin/reservas.html">
                <i class="bi bi-calendar-check"></i>
                <dt style="font-size: .8rem;">Agendados</dt>
            </a>
        </li>
        <li class="nav-item mb-1">
            <a class="nav-link" href="/public/views/afterLogin/salas.html">
                <i class="bi bi-door-open"></i>
                <dt style="font-size: .8rem;">Salas</dt>
            </a>
        </li>
        <li class="nav-item mb-1">
            <a class="nav-link" href="/public/views/afterLogin/usuarios.html">
                <i class="bi bi-people"></i>
                <dt style="font-size: .8rem;">Usuários</dt>
            </a>
        </li>
    </ul>
    <div class="mt-auto p-2">
        <a class="nav-link bg-secondary" href="/">
            <i class="bi bi-box-arrow-left"></i>
            <dt style="font-size: .8rem;">Sair</dt>
        </a>
    </div>
</div>

<!--
O que cada classe é responsável por fazer:
top-0 = fixa o elemento no topo
left-0 = fixa o elemento no canto superior esquerdo
bg-white = fundo branco
bg-secondary = fundo cinza
h-100 = height: 100%
w-20 = width: 20%
label = texto
icon = icone
nav-link w-50 h-75link da barra de navegação
nav-item p-2 = item da barra de navegação
nav = barra de navegação
d-flex = display flex
flex-column = flex direction column
text-center = centraliza o texto
flex-grow-1 = flex-grow: 1
mb-2 = margin-bottom: 2
mt-auto = margin-top: auto
bi = bootstrap-icons
bi-house-door = bootstrap-icon de porta de casa
bi-box-arrow-left = bootstrap-icon de seta para a esquerda
bi-calendar-check = bootstrap-icon de calendário com check
bi-door-open = bootstrap-icon de porta aberta
-->