<div>
    <div class="col-12 pt-4">
        <h1 class="h1 titulo">Página Inicial</h1>
        <h4 class="h4 subtitulo">Crie reservas ou consulte e confirme as reservas de hoje</h4>

        <h3 class="h3 pt-5 titulo">Criar uma reserva</h3>
        <h6 class=" h6 subtitulo">Selecione uma opção abaixo para iniciar a sua reserva</h6>
        <button class="btn btn-primary mx-2">Reservar salas de coworking</button>
        <button class="btn btn-primary mx-2">Reservar salas para empresa</button>

        <h3 class="h3 mt-5 titulo">Reservas de hoje</h3>
        <h6 id="data-hoje" class="h6 subTitulo">DD/MM/YYYY</h6>
    </div>
    <div class="row align-items-center text-center" style="height: 78% !important;">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Salas</th>
                        <th scope="col">Responsável</th>
                        <th scope="col">Documento</th>
                        <th scope="col">Ocupantes</th>
                        <th scope="col">Entrada</th>
                        <th scope="col">Saída</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>CoWorking 01</td>
                        <td>Uplio Netto</td>
                        <td>888.***.***-88</td>
                        <td>5 pessoas</td>
                        <td>24/05/2024 14:00</td>
                        <td>24/05/2024 17:00</td>
                        <td><a href="#" class="btn btn-link">Concluir</a> <a href="#" class="btn btn-link">Cancelar</a></td>
                    </tr>
                    <tr>
                        <td>CoWorking 02</td>
                        <td>Arthur Caldas</td>
                        <td>542.***.***-90</td>
                        <td>3 pessoas</td>
                        <td>28/05/2024 00:00</td>
                        <td>30/05/2024 00:00</td>
                        <td><a href="#" class="btn btn-link">Concluir</a> <a href="#" class="btn btn-link">Cancelar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--
<thead>
    <tr>
        <th>Sala</th>
        <th>Andar</th>
        <th>Status</th>
        <th>Capacidade Máxima</th>
        <th>Ações</th>
    </tr>
</thead>

<thead>
    <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Email</th>
        <th>Ações</th>
    </tr>
</thead>
-->