<div class="blur-background">
    <div class=>
        <h3 class="pt-2 titulo"> Criar uma reserva</h3>
        <div style="padding-right: 9vw;display: flex;justify-content: flex-start;">
            <button class="btn btn-primary bg-azul-escuro mx-2" data-toggle="modal" data-target="#modalDeCoworking">Reservar salas de coworking</button>
            <button class="btn btn-primary bg-azul-escuro mx-2" data-toggle="modal" data-target="#modalDeEmpresas">Reservar salas para empresa</button>    
        </div>

        <h3 class="h3 mt-4 titulo">Reservas de hoje</h3>
        <h6 id="data-hoje" class="subTitulo"></h6>
    </div>

    <div class="align-items-center text-center m-0 p-0">
        <div class="container mt-3" style="padding-right: 8rem; padding-left:0 !important;max-width:unset">
            <div class="input-container">
                <input type="text" id="pesquisa-filtro" placeholder="Buscar reserva">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
            </div>
        </div>
        <div class="">
            <table class="table table-columns" id="reservas-hoje-tabela">
                <thead>
                    <tr>
                        <th scope="col">Salas</th>
                        <th scope="col">Responsável</th>
                        <th scope="col">Documento</th>
                        <th scope="col">Motivo</th>
                        <th scope="col">Entrada</th>
                        <th scope="col">Saída</th>
                        <th scope="col" id="coluna-acao">Ações</th>
                    </tr>
                </thead>
                <tbody id="after-login-home">
                </tbody>
            </table>
        </div>
    </div>
</div>