<main class="col-12 px-0 d-flex flex-column mh-100" style="background-image: url(public/css/imagem/login_back_graund.png)">
    <section class="gradient-custom d-flex align-items-center justify-content-center">
        <div class="container py-3">
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-light text-black" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <h3 class="text-center">Cadastrar nova sala</h3>
                            <div class="form-floating mb-3 my-3">
                                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Nome da sala</label>
                            </div>
                            <div class="form-floating mb-3 my-3">
                                <input type="number" class="form-control" id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword">Andar</label>
                            </div>
                            <div class="form-floating mb-3 my-3">
                                <input type="text" class="form-control" id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword">Area</label>
                            </div>
                            <div class="form-floating mb-3 my-3">
                                <input type="number" class="form-control" id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword">Capacidade Máxima</label>
                            </div>
                            <div class="form-floating mb-3 my-3">
                                <input type="text" class="form-control" id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword">Situação</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
