<main class="col-12 px-0 h-100 d-flex flex-column mh-100" style="background-image: url(public/css/imagem/login_back_graund.png)">
        <section class="vh-100 gradient-custom d-flex align-items-center justify-content-center">
            <div class="container py-3">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-light text-black" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">
                                <div class="mb-md-5 mt-md-4 pb-3">
                                    <h2 class="fw-bold mb-2 text-secondary-emphasis" style="width: unset !important;">Bem-vindo</h2>
                                    <p class="text-black-50 mb-5">Insira abaixo seu usuário e senha.</p>
                                    <form action="#" method="POST" class="login-form" id="login-form">
                                        <div class="input-container mb-4">
                                            <input type="text" style="padding:unset" id="login" name="login" required placeholder="Usuário">
                                        </div>
                                        <div class="input-container mb-4">
                                            <input type="password"  style="padding:unset" id="senha" name="senha" required placeholder="Senha">
                                        </div>
                                        <div class="form-buttons">
                                            <button type="submit" class="btn btn-outline-secondary">Entrar</button>
                                        </div>
                                    </form>
                                </div>
                                <div>
                                    <p class="mb-1">Precisa de uma conta? Entre em <a href="#!" class="text-black-50 fw-bold">contato aqui!</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>