<nav class="navbar blur-background">
    <div class="container-fluid">
        <div class="header pt-4">
            <h1 class="h1 titulo" id="main-title">titulo</h1>
        </div>
        <div class="menu d-flex">
            <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Mais opções
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/public/views/afterLogin/cadastroUsuarios.html">Cadastrar usuário</a>
                  <a class="dropdown-item" href="/public/views/afterLogin/cadastroSalas.html">Cadastrar sala</a>
                  <a class="dropdown-item" href="/public/views/afterLogin/edicaoSalas.html">Editar sala</a>
                  <a class="dropdown-item" href="/public/views/afterLogin/listaNegra.html">Visualizar bloqueados</a>
                </div>
              </div>
        </div>
    </div>
</nav>
<!--
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">Navbar</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
-->