<nav class="navbar blur-background">
    <div class="container-fluid">
        <div class="header pt-4">
            <h1 class="h1 titulo" id="main-title">titulo</h1>
        </div>
        <div class="menu d-flex">
            <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Mais opções
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/public/views/sala/cadastroSalas.html">Cadastrar sala</a>
                  <a class="dropdown-item" href="/public/views/sala/edicaoSalas.html">Editar sala</a>
                  <a class="dropdown-item" href="/public/views/listaNegra/listaNegra.html">Visualizar bloqueados</a>
                </div>
              </div>
        </div>
    </div>
</nav>