<div class="modal fade" id="modalDeEditarSala" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered custom-modal-size" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h6 class="modal-title text-center w-100" id="modalHeader">Informações da Sala</h6>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>

            <div class="modal-body custom-modal-body">
                <div class="step active" id="step1" data-header="Escolha a sala">
                    <div class="dropdown">
                        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Selecione a sala a ser editada
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#" id="openModalButton">Sala 1</a>
                          <a class="dropdown-item" href="#" id="openModalButton">Sala 2</a>
                          <a class="dropdown-item" href="#" id="openModalButton">Sala 3</a>
                        </div>
                      </div>
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-invisible"></button>
                        <button type="button" class="btn btn-secondary" onclick="nextStep('modalDeEditarSala', 1)">Cadastrar</button>
                    </div>
                </div>

                <div class="step active" id="step2" data-header="Informações da Sala">
                    <input type="text" id="nomeSala" class="form-control mb-2 custom-input" placeholder="Nome da sala">
                    <input type="number" id="andar" class="form-control mb-2 custom-input" placeholder="Qual andar a sala se encontra">
                    <input type="text" id="area" class="form-control mb-2 custom-input" placeholder="Onde a sala se encontra">
                    <input type="number" id="capMax" class="form-control mb-2 custom-input" placeholder="Capacidade máxima">
                    <input type="text" id="situacao" class="form-control mb-2 custom-input" placeholder="Situação da sala">
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-outline-primary" onclick="prevStep('modalDeEditarSala', 2)">Voltar</button>
                        <button type="button" class="btn btn-secondary" onclick="nextStep('modalDeEditarSala', 2)">Confirmar</button>
                    </div>
                </div>
              
                <div class="step" id="step3" data-header="Confirmação">
                    <h4 class="mx-auto text-center">As informações estão correta?</h4>
                    <p class="mx-auto text-center">Mudanças que foram feitas</p>
                    <div class="modal-footer-custom d-flex justify-content-between">
                        <button type="button" class="btn btn-outline-primary" onclick="prevStep('modalDeEditarSala', 3)">Voltar</button>
                        <button type="button" class="btn btn-secondary" onclick="nextStep('modalDeEditarSala', 3)">Confirmar</button>
                    </div>
                </div>

                <div class="step" id="step4" data-header="">
                    <h4 class="tsucesso mx-auto text-center mt-4">Sala editada com sucesso!</h4>
                    <svg xmlns="http://www.w3.org/2000/svg" width="7rem" height="7rem" fill="#3D9200" class="bi bi-check2-circle mx-auto d-block mt-4" viewBox="0 0 16 16">
                      <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
                      <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                    </svg>
                    <p class="subTitulo2 mx-auto text-center">As informações da sala foram alteradas.</p>
                    <div class="modal-footer-custom d-flex justify-content-center">
                      <button type="button" class="btn btn-final2" onclick="prevStep('modalDeEditarSala', 4)">Editar outra sala</button>
                      <button type="button" class="btn btn-final" onclick="finish('modalDeEditarSala')">Voltar para tela inicial</button>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
<script src="/public/js/utils/trocaModal.js"></script>
