<div class="modal fade" id="modalDeEmpresas" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered custom-modal-size" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title text-center w-100" id="modalHeader">Informações da Reserva</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      <div class="modal-body custom-modal-body">
        <div class="step active" id="step1" data-header="Informações da Reserva">
          <input type="text" id="cpf" class="form-control mb-2 custom-input" placeholder="CPF">
          <input type="text" id="dataNascimento" class="form-control mb-2 custom-input" placeholder="Data de Nascimento">
          <input type="text" id="nome" class="form-control mb-2 custom-input" placeholder="Nome">
          <input type="text" id="nomeEmpresa" class="form-control mb-2 custom-input" placeholder="Nome da Empresa">
          <input type="text" id="motivoDaReuniao" class="form-control mb-2 custom-input" placeholder="Motivo da Reunião">
          <div class="d-flex justify-content-between">
            <button class="btn btn-invisible"></button>
            <button type="button" class="btn btn-secondary" onclick="nextStep('modalDeEmpresas', 1)">Continuar</button>
          </div>
        </div>


        <div class="step" id="step2" data-header="Consulta de Horários">
          <h6 class="mx-auto text-center">Selecione uma data:</h6>
          <div class="modal-footer-custom d-flex justify-content-between">
            <button type="button" class="btn btn-outline-primary" onclick="prevStep('modalDeEmpresas', 2)">Voltar</button>
            <button type="button" class="btn btn-secondary" onclick="nextStep('modalDeEmpresas', 2)">Continuar</button>
          </div>
        </div>


        <div class="step" id="step3" data-header="Consulta de Horários">
          <div class="h6-container">
            <div class="h6-item">
              <h6>Selecione uma sala:</h6>
              <select class="form-select" id="horariosDropdown">
                <option selected disabled>Escolha uma sala</option>
              </select>
              <p id="salaSelecionada" class="mt-2"></p>
            </div>

            <div class="h6-item">
              <h6>Selecione um horário:</h6>
              <select class="form-select" id="horariosDropdown">
                <option selected disabled>Escolha um horário</option>
              </select>
              <p id="horarioSelecionado" class="mt-2"></p>
            </div>

            <div class="h6-item">
              <h6>Duração da reserva:</h6>
              <select class="form-select" id="tempoDropdown">
                <option selected disabled>Duração da Reserva</option>
              </select>
              <p id="duracaoReserva" class="mt-2"></p>
            </div>
          </div>
          <div class="modal-footer-custom d-flex justify-content-between">
            <button type="button" class="btn btn-outline-primary" onclick="prevStep('modalDeEmpresas', 3)">Voltar</button>
            <button type="button" class="btn btn-secondary" onclick="nextStep('modalDeEmpresas', 3)">Continuar</button>
          </div>
        </div>


        <div class="step" id="step4" data-header="Confirmação">
          <h4 class="mx-auto text-center">A reserva está correta?</h4>
          <p class="mx-auto text-center">Informações da reserva e horários selecionados.</p>
          <div class="modal-footer-custom d-flex justify-content-between">
            <button type="button" class="btn btn-outline-primary" onclick="prevStep('modalDeEmpresas', 4)">Voltar</button>
            <button type="button" class="btn btn-secondary" onclick="nextStep('modalDeEmpresas', 4)">Confirmar</button>
          </div>
        </div>


        <div class="step" id="step5" data-header="">
          <h4 class="tsucesso mx-auto text-center mt-4">Sala reservada com sucesso!</h4>
          <svg xmlns="http://www.w3.org/2000/svg" width="7rem" height="7rem" fill="#3D9200" class="bi bi-check2-circle mx-auto d-block mt-4" viewBox="0 0 16 16">
            <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
            <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
          </svg>
          <p class="subTitulo2 mx-auto text-center">Um email com as regras de uso da sala foi enviado</p>
          <p class="subTitulo2 mx-auto text center"> para o email fulano@gmail.com</p>
          <div class="modal-footer-custom d-flex justify-content-center">
            <button type="button" class="btn btn-final2" onclick="prevStep('modalDeEmpresas', 5)">Fazer outra reserva</button>
            <button type="button" class="btn btn-final" onclick="finish('modalDeEmpresas')">Voltar para tela inicial</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/public/js/utils/trocaModal.js"></script>
