html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Impede a barra de rolagem */
}
.full-height {
    height: 100vh; /* Define a altura como 100% da altura da viewport */
}
.full-width {
    width: 100vw; /* Define a largura como 100% da largura da viewport */
}
.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 13vh;
    height: 13vh;
    padding: 5px;
    border-radius: 10px;
    background-color: #F2F6FA;
    text-decoration: none;
    color: #000;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: #e4e8ee;
}

.nav-link .icon {
    font-size: 24px;
    margin-bottom: 5px;
}

.nav-link .label {
    font-size: 12px;
}
