html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Impede a barra de rolagem */
}

.bg-azul{
    background: #0624AA;
}

.bg-cinza{
    background-color: #565D6D;
}
.input{
    padding-right: 8rem;
}
.input input{
    width: 100%;
}
.bg-azul-claro{
    background-color: #6ea8fe;
}
h, h1, h2, h3, h4, h5, h6{
    width: fit-content;
}
.titulo{
    color: #0624AA;
    font-weight:700;
    width: fit-conten;
}

table{
    max-width: 100%;
    padding-right: 8rem;
    width: fit-content;
}
.subtitulo{
    color: #CACCCE;
    font-weight: 700;
    width: fit-content;
}

.full-height {
    height: 100vh; /* Define a altura como 100% da altura da viewport */
}
.full-width {
    width: 100vw; /* Define a largura como 100% da largura da viewport */
}
.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12vh;
    height: 12vh;
    border-radius: 10%;
    background-color: #f2f6fa;
    text-decoration: none;
    color: #565d6d;
    transition: background-color 0.3s;
}

input {
    font-family: 'Inter', sans-serif;
    color:#adb5bd;
}

input[type="text"] {
    border: none;
    border-bottom: 2px solid #ccc; /* Borda inferior inicial */
    padding: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    outline: none; /* Remove o contorno padrão do navegador */
    border-bottom: 2px solid #888; /* Cor da borda inferior no foco */
}

.nav-link:hover {
    background-color: #e4e8ee;
}

.nav-link .icon {
    font-size: 24px;
    margin-bottom: 5px;
}

.nav-link .label {
    font-size: 12px;
}

.btn-action{
    color: #00047E;
    cursor: pointer;
}

.btn-action hover{
    text-decoration: underline;
}
table {
    text-align: center;
    margin-top: 1rem !important;
    border-collapse: separate;
    width: 100%;
}
.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #adb5bd;
    border-radius: 5px !important;
    padding: 0.5rem; /* Ajusta o padding conforme necessário */
}

.input-container input {
    border: none;
    outline: none;
    flex: 1;
    padding-right: 8rem; /* Adiciona espaçamento para o ícone */
}

.input-container svg {
    margin-left: 0.5rem;
}

th, td {
    text-align: left;
    vertical-align: middle;
    padding: 10px; 
    border: 1px solid #adb5bd;
    border-radius: 5px !important;
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: 5px !important;
}

.btn-primary{
    width: 333px;
    height: 88px;
    font-size: 16px;
    color:#F2F6FA;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    letter-spacing: 0.022rem;
}