<div class="modal fade" id="modalEditarUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered custom-modal-size" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title text-center w-100" id="modalHeader">Informações do Usuário</h6>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body custom-modal-body">
                <div class="step active" id="step1" data-header="Informações do usuário" data-id="1">
                    <p class="form-control mb-2 custom-input"><strong><span id="confirmCPFWithCpf"></span></strong></p>
                    <p class="form-control mb-2 custom-input"><strong><span id="confirmDataNascimentoWithCpf"></span></strong></p>
                    <input type="text" id="nomeWithCpf" class="form-control mb-2 custom-input" placeholder="Nome">
                    <input type="text" id="sobrenomeWithCpf" class="form-control mb-2 custom-input" placeholder="Sobrenome">
                    <input type="text" id="emailWithCpf" class="form-control mb-2 custom-input" placeholder="Email" required>
                    <input type="text" id="telefoneWithCpf" class="form-control mb-2 custom-input" placeholder="Número de telefone" minlength="12" maxlength="14" required>
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-invisible"></button>
                        <button type="button" class="btn btn-secondary" onclick="fillConfirmationUsuarioEditUnique('modalEditarUsuario', 1)">Confirmar</button>
                    </div>
                </div>

                <div class="step" id="step2" data-header="Confirmação">
                    <h4 class="mx-auto text-center">As informações estão corretas?</h4>
                    <div class="confirm-info">
                        <p>CPF: <strong><span id="confirmCPFWithCpfConfirm"></span></strong></p>
                        <p>Data de Nascimento: <strong><span id="confirmDataNascimentoWithCpfConfirm"></span></strong></p>
                        <p>Nome: <strong><span id="confirmNomeWithCpfConfirm"></span></strong></p>
                        <p>Email: <strong><span id="confirmEmailWithCpfConfirm"></span></strong></p>
                        <p>Número de Telefone: <strong><span id="confirmTelefoneWithCpfConfirm"></span></strong></p>
                    </div>
                    <div class="modal-footer-custom d-flex justify-content-between">
                        <button type="button" class="btn btn-outline-primary" onclick="prevStep('modalEditarUsuario', 2)">Voltar</button>
                        <button type="button" class="btn btn-secondary" onclick="updateEntity('usuarioEdit', 2)">Atualizar</button>
                    </div>
                </div>

                <div class="step" id="step3" data-header="">
                    <h4 class="tsucesso mx-auto text-center mt-4">Usuário atualizado com sucesso!</h4>
                    <svg xmlns="http://www.w3.org/2000/svg" width="7rem" height="7rem" fill="#3D9200" class="bi bi-check2-circle mx-auto d-block mt-4" viewBox="0 0 16 16">
                        <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
                        <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                    </svg>
                    <p class="subTitulo2 mx-auto text-center">O usuário já pode ser visualizado na lista de usuários.</p>
                    <div class="modal-footer-custom d-flex justify-content-center">
                        <button type="button" class="btn btn-final" onclick="finish('modalEditarUsuario')">Concluir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/public/js/utils/trocaModal.js"></script>
