<div class="modal fade" id="modalDeEmpresas" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered custom-modal-size" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title text-center w-100" id="modalHeader">Informações da Reserva</h6>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>


      <div class="modal-body custom-modal-body">
        <div class="step active" id="step1" data-header="Informações do responsável">
          <input type="text" id="cpfWithCNPJ" class="form-control custom-input" placeholder="CPF" minlength="14" maxlength="14" required>
          <input type="text" id="dataNascimentoWithCNPJ" class="form-control mb-2 custom-input" placeholder="Data de Nascimento" required onfocus="this.type='date'"  onblur="if (!this.value) this.type='text'">
        <div class="d-flex justify-content-between">
          <button class="btn btn-invisible"></button>
          <button type="button" class="btn btn-secondary" id="botao" onclick="usuarioExiste('modalDeEmpresas', 1)">Continuar</button>
        </div>
      </div>

      <div class="step" id="step2" data-header="Consulta de dias">
        <div class="light">
            <div class="custom-calendar">
                <div class="light calendar">
                    <div class="calendar-header">
                      <div>
                        <span class="month-picker" id="month-picker"></span>
                        <span id="year"></span>
                      </div>
                        
                        <div class="year-picker">
                            <span class="year-change" id="prev-year">
                                <pre><</pre>
                            </span>
                            <span class="year-change" id="next-year">
                                <pre>></pre>
                            </span>
                        </div>
                    </div>
                    <div class="calendar-body">
                        <div class="calendar-week-day">
                            <div>Dom</div>
                            <div>Seg</div>
                            <div>Ter</div>
                            <div>Qua</div>
                            <div>Qui</div>
                            <div>Sex</div>
                            <div>Sab</div>
                        </div>
                        <div class="calendar-days" id="calendar-days"></div>
                    </div>
                    <div class="overlay" id="overlay"></div>
                    <div class="month-list"></div>
                </div>
                <div class="modal-footer-custom d-flex justify-content-between" style="max-width: 400px; margin: 18px auto;">
                    <button type="button" class="btn btn-outline-primary" onclick="prevStep('modalDeEmpresas', 2)">Voltar</button>
                    <button type="button" class="btn btn-secondary" onclick="nextStep('modalDeEmpresas', 2)">Continuar</button>
                </div>
            </div>
        </div>
    </div>    

        <div class="step" id="step3" data-header="Consulta de Horários">
          <div class="h6-container">
            <div class="h6-item">
              <h6>Selecione uma sala:</h6>
              <select class="form-select" id="salasDropdown">
                <option selected disabled>Escolha uma sala</option>
              </select>
              <p id="salaSelecionada" class="mt-2"></p>
            </div>

            <div class="h6-item">
              <h6>Selecione um horário:</h6>
              <select class="form-select" id="horariosDropdown">
                <option selected disabled>Escolha um horário</option>
                <option value="00:00" style="display:none">00:00</option>
                <option value="01:00" style="display:none">01:00</option>
                <option value="02:00" style="display:none">02:00</option>
                <option value="03:00" style="display:none">03:00</option>
                <option value="04:00" style="display:none">04:00</option>
                <option value="05:00" style="display:none">05:00</option>
                <option value="06:00" style="display:none">06:00</option>
                <option value="07:00" style="display:none">07:00</option>
                <option value="08:00" style="display:none">08:00</option>
                <option value="09:00" style="display:none">09:00</option>
                <option value="10:00" style="display:none">10:00</option>
                <option value="11:00" style="display:none">11:00</option>
                <option value="12:00" style="display:none">12:00</option>
                <option value="13:00" style="display:none">13:00</option>
                <option value="14:00" style="display:none">14:00</option>
                <option value="15:00" style="display:none">15:00</option>
                <option value="16:00" style="display:none">16:00</option>
                <option value="17:00" style="display:none">17:00</option>
                <option value="18:00" style="display:none">18:00</option>
                <option value="19:00" style="display:none">19:00</option>
                <option value="20:00" style="display:none">20:00</option>
                <option value="21:00" style="display:none">21:00</option>
                <option value="22:00" style="display:none">22:00</option>
                <option value="23:00" style="display:none">23:00</option>
              </select>
              <p id="horarioSelecionado" class="mt-2"></p>
            </div>

            <div class="h6-item">
              <h6>Duração da reserva:</h6>
              <input type="number" class="form-selectEdit" id="duracaoReserva" placeholder="Duração da reserva">
            </div>
          </div>
          <div class="row blocks justify-content-center">
            <div class="col-1" id="00:00">00:00</div>
            <div class="col-1" id="01:00">01:00</div>
            <div class="col-1" id="02:00">02:00</div>
            <div class="col-1" id="03:00">03:00</div>
            <div class="col-1" id="04:00">04:00</div>
            <div class="col-1" id="05:00">05:00</div>
            <div class="col-1" id="06:00">06:00</div>
            <div class="col-1" id="07:00">07:00</div>
            <br></br>
            <div class="col-1" id="08:00">08:00</div>
            <div class="col-1" id="09:00">09:00</div>
            <div class="col-1" id="10:00">10:00</div>
            <div class="col-1" id="11:00">11:00</div>
            <div class="col-1" id="12:00">12:00</div>
            <div class="col-1" id="13:00">13:00</div>
            <div class="col-1" id="14:00">14:00</div>
            <div class="col-1" id="15:00">15:00</div>
            <br></br>
            <div class="col-1" id="16:00">16:00</div>
            <div class="col-1" id="17:00">17:00</div>
            <div class="col-1" id="18:00">18:00</div>
            <div class="col-1" id="19:00">19:00</div>
            <div class="col-1" id="20:00">20:00</div>
            <div class="col-1" id="21:00">21:00</div>
            <div class="col-1" id="22:00">22:00</div>
            <div class="col-1" id="23:00">23:00</div>
            <br></br>
            </div>
          <div class="modal-footer-custom d-flex justify-content-between">
            <button type="button" class="btn btn-outline-primary" onclick="prevStep('modalDeEmpresas', 3)">Voltar</button>
            <button type="button" class="btn btn-secondary" onclick="fillConfirmationReservaCNPJ('modalDeEmpresas', 3)">Continuar</button>
          </div>
        </div>


        <div class="step" id="step4" data-header="Confirmação">
          <h4 class="mx-auto text-center">A reserva está correta?</h4>
          <p class="mx-auto text-center">Informações da reserva e horários selecionados.</p>
          <div class="container mt-4">
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="mb-0">Informações do Responsável</h6>
                        </div>
                        <div class="card-body">
                            <p class="mb-1"><strong>CPF:</strong> <span id="cpfUserConfirmReservaCNPJ"></span></p>
                            <p class="mb-1"><strong>Nascimento:</strong> <span id="aniversarioConfirmResrvaCNPJ"></span></p>
                            <p class="mb-1"><strong>Nome:</strong> <span id="nomeConfirmSpanCNPJ"></span></p>
                            <p class="mb-1"><strong>Email:</strong> <span id="emailConfirmSpanCNPJ"></span></p>
                            <p class="mb-1"><strong>Nº de telefone:</strong> <span id="numTelConfirmSpanCNPJ"></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-3">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="mb-0">Informações da Reserva</h6>
                        </div>
                        <div class="card-body">
                            <p class="mb-1"><strong>Sala:</strong> <span id="salaConfirmSpanCNPJ"></span></p>
                            <p class="mb-1"><strong>Data:</strong> <span id="dataConfirmSpanCNPJ"></span></p>
                            <p class="mb-1"><strong>Entrada:</strong> <span id="horarioConfirmSpanCNPJ"></span></p>
                            <p class="mb-1"><strong>Saída:</strong> <span id="horarioSaidaConfirmSpanCNPJ"></span></p>
                            <p class="mb-1"><strong>Motivo:</strong> <span id="motivoReservaSpanCNPJ"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <div class="modal-footer-custom d-flex justify-content-between">
            <button type="button" class="btn btn-outline-primary" onclick="prevStep('modalDeEmpresas', 4)">Voltar</button>
            <button type="button" class="btn btn-secondary" onclick="nextStep('modalDeEmpresas', 4)">Confirmar</button>
          </div>
        </div>


        <div class="step" id="step5" data-header="">
          <h4 class="tsucesso mx-auto text-center mt-4">Sala reservada com sucesso!</h4>
          <svg xmlns="http://www.w3.org/2000/svg" width="7rem" height="7rem" fill="#3D9200" class="bi bi-check2-circle mx-auto d-block mt-4" viewBox="0 0 16 16">
            <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
            <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
          </svg>
          <p class="subTitulo2 mx-auto text-center">Um email com as regras de uso da sala foi enviado</p>
          <p class="subTitulo2 mx-auto text center"> para o email fulano@gmail.com</p>
          <div class="modal-footer-custom d-flex justify-content-center">
            <button type="button" class="btn btn-final2" onclick="prevStep('modalDeEmpresas', 5)">Fazer outra reserva</button>
            <button type="button" class="btn btn-final" onclick="finish('modalDeEmpresas')">Voltar para tela inicial</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/public/js/utils/trocaModal.js"></script>
<script>
  const cpfInputCNPJ = document.getElementById('cpfWithCNPJ');
  if (cpfInputCNPJ) cpfInputCNPJ.addEventListener('input', formatCPF);
</script>

<script src="/public/js/utils/calendario.js"></script>
