<div id="sidebar" class="d-flex flex-column" style="width: 146px; height: 100vh; padding: 10px;">
    <!--<div class="logo mb-4 text-center">
        <img src="logo.png" alt="Logo" style="width: 50px;">
    </div>-->
    <ul class="nav flex-column text-center flex-grow-1">
        <li class="nav-item mb-2">
            <a class="nav-link" href="../afterLogin/home.html">
                <div class="icon">
                    <i class="bi bi-house-door"></i>
                </div>
                <div class="label">Início</div>
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link" href="../afterLogin/reservas.html">
                <div class="icon">
                    <i class="bi bi-calendar-check"></i>
                </div>
                <div class="label">Agendados</div>
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link" href="../afterLogin/salas.html">
                <div class="icon">
                    <i class="bi bi-door-open"></i>
                </div>
                <div class="label">Salas</div>
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link" href="../afterLogin/usuarios.html">
                <div class="icon">
                    <i class="bi bi-people"></i>
                </div>
                <div class="label">Usuários</div>
            </a>
        </li>
    </ul>
    <div class="mt-auto">
        <a class="nav-link">
            <div class="icon">
                <i class="bi bi-box-arrow-left"></i>
            </div>
            <div class="label">Sair</div>
        </a>
    </div>
</div>
