<div class="blur-background">
    <button class="btn btn-outline-primary peso-500 botoesUtils d-flow" data-toggle="modal" data-target="#modalDeCadastrarSala">Cadastrar sala</button>
    <div class="align-items-center text-center m-0 p-0">
        <div class="container mt-3 tabelas">
                <div class="input-container">
                    <input type="text" id="pesquisa-filtro" placeholder="Buscar reserva">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                </div>
            <table class="table table-columns" id="salas-tabela">
                <thead>
                    <tr>
                        <th scope="col">Salas</th>
                        <th scope="col">Andar</th>
                        <th scope="col">Status</th>
                        <th scope="col">Capacidade Máxima</th>
                        <th scope="col" id="coluna-acao">Ações</th>
                    </tr>
                </thead>
                <tbody id="after-login-salas">
                </tbody>
            </table>
            <nav aria-label="...">
                <ul class="justify-content-end pagination pagination-sm">
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>